<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.solfood.mapper.productMapper">
	<!-- =============================== SELECT ========================================= -->
		<!-- 상품 정보 모두 추출 -->
		<select id="selectProduct_all" resultType="com.solfood.dto.TotalVO">
			SELECT * FROM PRODUCT 
		</select>
		
		<!-- 특정 상품 정보 모두 추출 -->
		<select id="selectProduct" parameterType="int" resultType="com.solfood.dto.TotalVO">
			SELECT * FROM PRODUCT WHERE PRODUCT_ID= #{product_id}  
		</select>
		
		<!-- 상품 재고 알아보기 -->
		<select id="selectProduct_count" resultType="com.solfood.dto.TotalVO">
			SELECT PRODUCT_ID, PRODUCT_COUNT FROM PRODUCT 
		</select>
		
		<!-- 특정 상품 재고 알아보기 -->
		<select id="selectProduct_count_individually" parameterType="int" resultType="int">
			SELECT PRODUCT_COUNT FROM PRODUCT WHERE PRODUCT_ID= #{product_id}
		</select>
				
		<!-- 카테고리별로 상품 추출 (도윤)-->
		<select id="selectProduct_category1" parameterType="String" resultType="com.solfood.dto.TotalVO">
			SELECT *
			FROM PRODUCT 
			WHERE product_category1 = #{product_category1}
		</select>
		
		<select id="selectProduct_category2" parameterType="String" resultType="com.solfood.dto.TotalVO">
			SELECT *
			FROM PRODUCT 
			WHERE product_category2 = #{product_category2}
		</select>
		
		
		
		<!-- heart 테이블 목록 추출 -->
		<select id="selectHeart" resultType="com.solfood.dto.TotalVO">
			SELECT * FROM HEART		
		</select>
		
	<!-- =============================== UPDATE ========================================= -->
	   <!-- buy로 상품이 넘어가면 product_count를 cart_count 만큼 빼주기 (재고관리) -->
		<update id="updateProduct_count_minus" parameterType="com.solfood.dto.TotalVO">
			UPDATE PRODUCT SET PRODUCT_COUNT= PRODUCT_COUNT- #{buy_count} WHERE PRODUCT_ID= #{product_id};
		</update> 
				
	<!-- =============================== INSERT ========================================= -->
		<!-- heart 누르면 heart 테이블로 상품 들어가게 하기 -->
		<insert id="insertHeart" parameterType="com.solfood.dto.TotalVO">
			INSERT INTO HEART (PRODUCT_ID, ACCOUNT_USER) VALUES(#{product_id}, #{account_user})
		</insert>
		
	<!-- =============================== DELETE ========================================= -->
		<!-- heart 다시 누르면 heart에서 상품 사라지게 하기 -->
		<delete id="deleteHeart" parameterType="com.solfood.dto.TotalVO">
			DELETE FROM HEART WHERE PRODUCT_ID= #{product_id} AND ACCOUNT_USER= #{account_user}
		</delete>
	</mapper>
	
	
	
	
	
	